*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(238, 238, 238);
}

h1,
p {
    margin: 0 0 1em 0;
}

.wrapper {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 20px;
}

.wrapper>* {
    border-radius: 2px;
    padding: 10px;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

.header {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    line-height: 100px;
    box-shadow: 1px 0 1px #999;
}

.sidebar {
    margin-left: 20px;
}

.content {
    margin-right: 20px;
}

.sidebar,
.content {
    background-color: #fff;
    box-shadow: 1px 1px 1px #999;
}

.footer {
    font-size: 12px;
    line-height: 25px;
    box-shadow: 0 -1px 1px #999;
}

.header,
.footer {
    background-color: rgb(54, 113, 161);
    color: rgb(255, 200, 60);
    border: 10px solid #fff;
}

@media screen and (min-width: 500px) {
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 3fr;
    }

    .header {
        font-family: 'Pacifico', cursive;
        font-size: 56px;
        text-shadow: 2px 2px #000;
        line-height: 150px;
    }

    .sidebar {
        float: left;
        width: 20%;
    }

    .content {
        float: right;
        width: 75%;
    }

    .sidebar,
    .content {
        box-shadow: 1px 1px 2px #999;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

    .footer {
        font-size: 16px;
        line-height: 50px;
    }
}

@supports (display: grid) {
    .wrapper>* {
        width: auto;
        margin: 0;
    }
}
