*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(238, 238, 238);
}

h1,
p {
    margin: 0 0 1em 0;
}

.wrapper {
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
}

.wrapper>* {
    border-radius: 2px;
    padding: 10px;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

.header {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-shadow: 4px 4px #000;
    line-height: 100px;
    box-shadow: 0 1px 1px #999;
}

.sidebar,
.content {
    background-color: #fff;
    box-shadow: 1px 1px 1px #999;
}

.sidebar h3 {
    border: 10px solid #444;
    padding: 1em;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

.sidebar ul,
.sidebar li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0em;
    /* border: 1px solid #000; */
}

.sidebar>ul>li a:hover {
    background-color: rgb(255, 200, 60);
}

.content {
    line-height: 2em;
}

.content h1 {
    padding: 1em;
    border: 10px solid #444;
    text-align: center;
}

.content div {
    padding: 0 2em;
}

.content pre {
    font-family: monospace;
    background-color: rgb(238, 238, 238);
    padding: 1em;
}

.footer {
    font-size: 12px;
    line-height: 25px;
    box-shadow: 0 -1px 1px #999;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.header,
.footer {
    background-color: rgb(54, 113, 161);
    color: rgb(255, 200, 60);
    border: 10px solid #fff;
}

@media only screen and (min-width: 720px) {
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 4fr;
    }

    .header {
        font-size: 72px;
    }

    .sidebar {
      font-family: sans-serif;
        float: left;
        width: 20%;
        color: #b3cce6;
    }

    .content {
        float: right;
        width: 75%;
    }

    .sidebar,
    .content {
        box-shadow: 1px 1px 2px #999;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

    .footer {
        font-size: 16px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    .header {
        font-size: 48px;
    }

    .sidebar ul,
    .sidebar li {
        padding: 0.5em;
        /* border: 1px solid #000; */
    }
}

@supports (display: grid) {
    .wrapper>* {
        width: auto;
        margin: 0;
    }
}
